<h1><%= @post["title"] %>

<h4>
<u>
    <%= @post["posted_on"] %>
</u>
</h4>
   

</ul>
<ul>
 <body><%= @post["description"] %></body>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>